.leftCol{
    border-right:1px solid #ccc;
    border-radius: 0 5px 5px 0;
    margin-top: 10px;
}
.backgroundLayer{
    background-image: url(../../Assets/Images/banner.jpg);
    background-repeat: repeat-y;
    background-clip: border-box;
    width: 100%;
    height: 100vmax;  
    position: relative;
    background-position-x: 67%;
    opacity: 0.2;
}
.overlayLayer{
    position: absolute;
    top: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.imageWrapper{
    width:250px;
    height:250px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.imageWrapper img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #e0ebe8;
    margin: 0 auto;
}
.nameTitle{
    padding-bottom: 0;
    margin-bottom: 0;
    letter-spacing: 5px;
    font-weight: 700;
}
.description{
    padding-top: 5px;
    text-align: center;
}
.description > li > p:first-child{
    float: left;
    width: 50%;
    margin-bottom: 0;
}
.description > li > p:nth-child(2){
    float: right;
    width: 50%;
    margin-bottom: 0;
}
ul > li{
    list-style: circle;
    text-align: left;
}
i{
    font-size: 0.8rem;
}
.description > h4,
.description > h5{
    margin: 0;
    padding: 0;
    text-align: left;
}
.description > p{
    margin: 0;
    float: left;
    text-align: left;
    padding: 5px;
}
.description > p:nth-child(2n+1){
    width: 35%;
} 
.description > p:nth-child(2n+2){
    width: 65%;
} 
.description > p > i{
    float: right;
    padding-top: 8px;
}
.description > a{
    cursor: pointer;
}