.boxLayout{
    width: 85%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 21px 3px #eaeaea;
    min-height: 450px;
    line-height: 70px;
}

.boxLayout .gridBox{
    width: calc(90% / 5);
    margin: 1% 1% 1% 1%;
    min-height: calc(350px / 5);
    border: 1px solid #eaeaea;
    border-radius: 5px;
    float: left;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}
.boxLayout .gridBox:hover{
    box-shadow: 1px 1px 5px 1px #ccc;
}
.mt10{
    margin-top: 10px;
}
.generatedStack{
    width: calc(90% / 10);
    margin: 1% 1% 1% 1%;
    min-height: calc(350px / 5);
    border: 1px solid #eaeaea;
    border-radius: 5px;
    float: left;
    text-align: center;
    vertical-align: middle;
    box-shadow: 1px 1px 5px 1px #ccc;
}
.generatedBoxLayout{
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
    line-height: 70px;
}
